@tailwind base;
@tailwind components;
@tailwind utilities;


.dt-input {
  border:1px solid rgb(209, 213, 219) !important ;
  margin: 0.4rem 0.2rem !important;
}

.dt-paging-button {
  padding: .2rem .84rem;
  margin: 0.3rem;
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  border-radius: 8px;
  line-height: inherit;
  border:1px solid rgb(209, 213, 219) !important ;
}

.dt-paging-button:hover {
  color:white !important;
  background-color: rgb(59 130 246);
  border:1px solid rgb(209, 213, 219) !important ;
}

footer {
  text-align: center;
  padding:20px 0px;
  color:orange;
  font-weight: 700;
  font-family: 'inter', sans-serif;
}